.header {
    text-align: left;
    padding: 0.625rem 1.25rem;
    margin-top: 2rem;
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.btn {
    background-color: #fe5d5d;
    color: #fffaf9;
    padding: 0.625rem 2.5rem;
    border: none;
    box-shadow: -2px 2px 5px #df0101;
    border-radius: 20px;
    font-family: 'Luckiest Guy', sans-serif;
}

@media (min-width: 768px) {
    .header {
        padding: 1.25rem 2.5rem;
        text-align: center;
    }

    .btn {
        padding: 1rem 3.73rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 1.875rem 3.75rem;
    }

    .btn {
        padding: 1.25rem 5rem;
        font-size: 1.5rem;
    }
}